{
  "locationFactors": <%= data.location_factors.to_json %>,
  "marketAdjustments": <%= data.hotmarkets.to_json %>,
  "contractTypes": <%= data.contract_types.to_json %>,
  "countryFactors": <%= data.country_factors.to_json %>,
  "countryNoHire": <%= data.country_no_hire.to_json %>,
  "currencyExchangeRates": <%= data.currency_exchange_rates.to_json %>
}
